p {
	font-size: 30px;
	color: green;
}

body{
	background-color: white;
  margin: 0px;
}

nav {
  background-color: black;
  height: 60px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding-right: 10px;
  text-align: center;
  padding-left: 10px;
}

.cat {
  border-radius: 30px;
  height: 40px;
  width: 40px;
  position: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

.logo {
  display: inline;
}

input {
  padding-right: 10px;
  border: 0px;
  padding-top: 0px;
  padding-bottom: -10px;
  text-align: center;
}

.items {
  display: inline;
  position: absolute;
  padding-top: 18px;
}