body {
  background: greenyellow;
  font: 18px Arial, sans-serif;
}

h1 {
  color: orange;
  text-align: center; /* making the the header to be in the center */
}

/* * is an universal selector styles added to this will be applied to all */
* {
  margin: 0px;
  padding: 0px;
}

/* element selector it will be applied to all p tag */
p {
  color: blue;
}

/* id selector */
#error {
  color: red;
}

/* class selector */
p.black-text {
  color: black;
}

/* Descendent selector */
ul.menu li a {
  text-decoration: none;
}

h2 em  {
  color: red;
}

/* child selector */
ul > li {
  list-style: square;
  font-size: 30px;
}

ul > li ol {
  font-size: 60px;
}

/* adjacent sibling selectors */

h4 + p {
  color: blueviolet;
  font-size: 26px;
}

/* general sibling selector */
h3 ~ p {
  color: hotpink;
  font-size: 19px;
}

h1, h2, h3, h4 {
  font-style: italic;
}



